<?php include 'header.php' ?>

<div id="salons-list">

<div class="thumbnail">
	<img src="../img/beauty/1.jpg">
	<h3>Salon Name</h3>
</div>

<div class="thumbnail">
	<img src="../img/beauty/1.jpg">
	<h3>Salon Name</h3>
</div>

<div class="thumbnail">
	<img src="../img/beauty/1.jpg">
	<h3>Salon Name</h3>
</div>

<div class="thumbnail">
	<img src="../img/beauty/1.jpg">
	<h3>Salon Name</h3>
</div>

</div> <!-- End Salons List Div -->



<!-- jQuery -->
<script src="js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function () {
 
    <?php include 'footer.php' ?>